name: Screenshot Tablas Vixion
on:
  schedule:
    - cron: '*/5 * * * *' 
  workflow_dispatch: 

permissions:
  contents: write

jobs:
  take-screenshot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar herramientas
        run: |
          pip install shot-scraper
          shot-scraper install

      - name: Capturar y Recortar Tabla
        run: |
          # Esperamos 60 segundos para carga total
          # Clip: corta 85px desde la izquierda y 100px desde arriba
          shot-scraper "https://lookerstudio.google.com/embed/reporting/d2c2a5e0-dcfe-4633-b141-d4d0179fcae4/page/p_h4ubm1dzyd" \
          --wait 60000 -w 1920 -h 1080 \
          --clip 85 100 1835 980 \
          -o tabla1.png

      - name: Subir cambios al repositorio
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add tabla1.png
          git commit -m "Actualizacion automatica con recorte" || exit 0
          git push origin main
