name: Screenshot Cada Minuto
on:
  schedule:
    - cron: '* * * * *' 
  workflow_dispatch: 

jobs:
  take-screenshot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v3

      - name: Tomar Captura del Dashboard
        uses: swinton/screenshot-action@v2.1.0
        with:
          url: https://lookerstudio.google.com/embed/reporting/d2c2a5e0-dcfe-4633-b141-d4d0179fcae4/page/p_h4ubm1dzyd
          width: 1920
          height: 1080
          output: dashboard.png

      - name: Guardar y Subir Imagen
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add dashboard.png
          git commit -m "Actualizacion automatica" || exit 0
          git push
